name: Upload Release Notes

on:
  release:
    types: [published]

jobs:
  create-card:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Remove line breaks
      run: echo "PARSED_RELEASE_BODY=$(echo '${{ github.event.release.body }}' | sed 's/$/\\n/' | tr -d '\n' )" >> $GITHUB_ENV

    - name: Lint notes
      shell: bash
      run: |
        RELEASE_NOTES=$(bash ./.github/workflows/scripts/lint-changelog.sh '${{ env.PARSED_RELEASE_BODY }}')
        if [ $? -ne 0 ]; then
          echo "$RELEASE_NOTES"
          exit 1
        fi
        echo "RELEASE_NOTES=$RELEASE_NOTES" >> $GITHUB_ENV


    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://human-changelog-git-main-cold-briu.vercel.app/api/changelogs'
        method: 'POST'
        customHeaders: '{"Content-Type": "application/json"}'
        data: >-
            { 
              "name" : "${{ github.event.release.name }}", 
              "origin" : "${{ github.repository }}", 
              "version" : "${{ github.event.release.tag_name }}", 
              "changelog" : "${{ env.RELEASE_NOTES || 'MISSING_NOTES' }}"
            }
